@font-face {
    font-family: æºçœŸã‚´ã‚·ãƒ?ã‚¯P Regular;
    src: url(GenShinGothic-P-Regular.ttf);
}

* {
    font-family: æºçœŸã‚´ã‚·ãƒ?ã‚¯P Regular;
}

body{
    background-image: url("back.png");
    background-repeat: no-repeat;            /* ”wŒi‚ğŒJ‚è•Ô‚³‚È‚¢ */
    background-position: 50% 50%;            /* ”wŒi‰æ‘œ‚ÌˆÊ’u‚Í‰æ–Ê’†‰› */
    background-attachment:fixed;             /* ”wŒi‰æ‘œ‚ğŒÅ’è‚·‚é */
    background-size:cover;
}

#backbox{
    background-color:rgba(255,255,255,0.9);
    border:#d0d0d0 groove 5px;
    text-align: center;
    margin: 30px;
    padding: 20px;
}